body {
    font-weight: normal;
    font-family: "Noto Sans KR", sans-serif;
    background-color: #F5F5F5;
}
nav {
    background-color: #F0F0F0;
    height: 60px;
    border-bottom: 5px;
}
.nav_logo {
    width: 59px;
    height: 59px;
    overflow: hidden;
}
.nav-item {
    font-size: 25px;
    padding-left: 10px;
}

.container a {
    font-size: 30px;
}

.main_area {
    text-align: center;
    margin-top: 250px;
}

.title {
    font-size: 125px;
}

.subtitle {
    font-size: 25px;
}

.title_mini {
    font-size: 100px;
}

.project_area {
    text-align: center;
    margin-top: 300px;
}

.project_info {
    font-size: 20px;
}

.project_cards {
    margin-top: 100px;
    align-items: center;
}

.card {
    width: 300px;
    height: 200px;
    border: 2px solid F2F0F1;
    padding: 10px, 10px, 10px;
    border-radius: 4px;
    padding: 20px;
    margin: 0px, auto, 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin-bottom: 0;
}

.project_link {
    color: black;
}